{
  "SKmission2" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "Satellite outpost",
    "message" : "\n\nAre you ready ? This quest may be hard.",
    "okCaption" : "Let's go",
    "cancelCaption" : "Need preparation",
    "images" : {
        "portrait" : [ {"image" : "/objects/mission/Toka/Tokaportrait.png"} ]
    },
    "labels" : {
      "name" : "Toka"
  }
}
}